
#nav-bar {
    background: black;
}

#collapsibleNavId {
    background-color: black;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

main {
    margin: 80px 0;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    width: 400px;
    margin: 10px;
}

.flexbox-item-1 {
    min-height: 200px;
}